.header {
  max-width: 100%;
  margin: 0 20px;
  &__wrap {
    display: flex;
    align-items: center;
    font-weight: 900;
    position: relative;
    margin: 40px 0 3vh;
  }
  &__logo {
    position: absolute;
    z-index: 98;
    left: 50%;
    display: inline-block;
    flex: 1 0 auto;
    text-align: center;
    word-break: normal;
    a {
      position: relative;
      left: -50%;
      display: inline-block;
      overflow: hidden;
      margin: 0;
      img {
        max-width: 300px;
        max-height: $heightLogoHeader;
      }
    }
  }
  &__nav {
    position: relative;
    z-index: 99;
    flex: 0 1 100%;
    pointer-events: none;
    nav {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 54px;
      padding: 0;
      justify-content: space-between;
      > ul {
        display: flex;
        align-items: center;
        z-index: 1;
        margin: 0;
        padding: 0;
        word-break: normal;
      }
      li {
        font-size: 19px;
        display: inline-block;
        pointer-events: auto;
        a {
          font-size: 19px;
          display: inline-block;
          pointer-events: auto;
          line-height: 1.5;
          position: relative;
          margin: 0 30px 0 0;
          padding: 0;
          &:not(.global__button):hover::before,
          &:not(.is-active):hover::before {
            position: absolute;
            top: 0;
            right: -7px;
            width: 7px;
            height: 7px;
            content: '';
            transition: background-color 0.3s ease;
            border-radius: 100%;
            background-color: $colorThree;
          }
        }
      }
      .search {
        line-height: 0;
        span {
          font-size: 15px;
          display: none;
          margin-right: 8px;
          color: $colorWhite;
        }
        svg {
          width: 18px;
          cursor: pointer;
          fill: $colorFontOne;
        }
      }
      .signin {
        margin-left: 30px;
      }
      .signup a {
        margin-right: 0;
        padding: 12px 22px;
      }
    }
  }
  &--dropdown {
    cursor: pointer;
    svg {
      width: 30px;
      margin: 0 0 3px;
      cursor: pointer;
      fill: $colorFontOne;
    }
    ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      z-index: 999;
      top: 50px;
      min-width: 120px;
      margin: 0;
      padding: 20px 20px 15px 26px;
      cursor: default;
      transform: translateX(-27px);
      border-radius: calc(22px / 2);
      background-color: $colorTwo;
    }
  }
  &__toggle {
    display: none;
    font-size: 25px;
  }
}

select {
  font-size: 19px;
  border-radius: 10px;
  margin-left: 20px;
}

.open {
  display: block;
}

/* -------------- Reponsive ------------------------- */

@media only screen and (max-width: 1024px) {
  .header__wrap {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .header__logo {
    flex-basis: 50%;
  }
  .header__nav {
    flex-basis: 50%;
    text-align: right;
  }
  .header__logo {
    position: initial;
    text-align: left;
    a {
      left: 0;
    }
  }
  .header__toggle {
    display: inline-block;
  }
  .header__nav nav {
    display: none;
  }
}
