$heightLogoHeader: 45px;
$heightLogoFooter: 35px;
$heightLogoSignin: 45px;
$heightLogoMobile: 35px;
// $22px: 22+0px;
$maxWidthGlobalWrap: 1460px;
$maxWidthHeroWrap: 1240px;
$maxWidthCardsWrap: 1120px;
$maxWidthPostWrap: 700px;
$fontFamilyOne: 'Nunito';
$fontWeightOneRegular: 400;
$fontWeightOneExtraBold: 800;
$fontWeightOneBlack: 900;
$fontFamilyTwo: 'Nunito';
$fontWeightTwoRegular: 400;
$ghostAccentColor: #646eff;
$colorGray: #f4f4f7;
$colorPearl: #ede7e7;
$colorAvocado: #e6f5ca;
$colorCream: #fdeacc;
$colorSand: #ffeab9;
$colorRose: #fce6f0;
$colorPeach: #fddfd8;
$colorIris: #e1e6ff;
$colorSky: #e0e9ff;
$colorLavender: #e8e5ff;
$colorPool: #d7f8ff;
$colorAqua: #d2f8f0;
$colorSeafoam: #c3f4df;
$colorTurquoise: #b0f3f7;
$colorFontOne: #2b394e;
$colorFontTwo: #2b394e;
$colorFontInput: #dbdbdf;
$colorOne: #f4f4f7;
$colorTwo: #ededf1;
$colorThree: #b8b8bd;
$colorFour: rgba(0, 0, 0, 0.06);
$colorFive: rgba(0, 0, 0, 0.1);
$colorSix: rgba(0, 0, 0, 0.06);
$colorSeven: rgba(0, 0, 0, 0.1);
$colorWhite: #fff;
$colorBody: #fff;
$colorAlertSuccess: #aaef52;
$colorAlertError: #ff6c78;
$overlaySearch: rgba(0, 0, 0, 0.6);
$overlayVutton: rgba(0, 0, 0, 1);
$invertZigzag: invert(0);
// 20px: 5;